<footer class="footer">
    <div class="top-row">
        <div class="left">
            <img src="logo.png" alt="Logo" class="logo">
            <span class="company-name">Nome dell'azienda</span>
        </div>
        <div class="right">
            <a href="https://www.linkedin.com/" target="_blank"><img src="linkedin.png" alt="LinkedIn"></a>
            <a href="https://discord.com/" target="_blank"><img src="discord.png" alt="Discord"></a>
        </div>
    </div>
    <div class="bottom-row">
        <div class="column">
            <h4>Useful Links</h4>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>Services & Products</h4>
            <ul>
                <li>Service 1</li>
                <li>Service 2</li>
                <li>Service 3</li>
                <!-- Aggiungi altri servizi e prodotti se necessario -->
            </ul>
        </div>
    </div>
</footer>