<section id="services">
    <div class="text">
        <h2>Services</h2>
        <p>Check ours services</p>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="icon">
                <img src="" alt="">
            </div>
            <div class="card-text">
                <h1>Customize your ideas!</h1>
                <p>rely on experts to customize your AI solutions with dedicated assistance. You will have the option to
                    request your own prompts or learn the best techniques to be able to create one</p>
            </div>
            <div class="card-image">
                <img src="" alt="">
            </div>

        </div>

    </div>
</section>