<section id="home">
    <div class="container">
        <!--
        <div class="bug">
            <div class="bee1">
                <div class="eye"></div>
            </div>
            <div class="bee2">
                <div class="wing"></div>
                <div class="wing2"></div>
            </div>
            <div class="black"></div>
        </div>-->
        <div class="content">
            <h1>Bee efficient, bee creative, bee successful.</h1>
            <h1>Bee-lieve in the power of prompts with Openhive:</h1>
            <h1>the hive of success</h1>
        </div>

        <div class="img">
            <img class="styleImg" src="/assets/images/output-onlinepngtools.png" alt="">
        </div>

    </div>


</section>